:root {
  --main-color: #838c91;
}

.main {
  background: var(--main-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0;
  display: flex;
  flex-direction: row;
  padding: 4px;
  background: rgba(0, 0, 0, 0.15);
}

.header-left > *, .header-right > * {
  margin-right: 4px;
}

.header-left > *:last-child, .header-right > *:last-child {
  margin-right: 0;
}

.header-left {
  flex: 1 1;
  display: flex;
  flex-direction: row;
}

.header-center {
  flex: 100px 0 0;
  background-image: url(https://a.trellocdn.com/prgb/dist/images/header-logo-spirit.d947df93bc055849898e.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.header-right {
  flex: 1 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.board {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.board-header {
  flex: 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.board-header > * {
  margin-right: 2px;
}

.board-header > *:last-child {
  margin-right: 0;
}

.board-content {
  flex: 1 1;
  display: flex;
  position: relative;
}

.board-list-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  padding: 4px;
}

.board-list {
  flex: 246px 0 0 ;
  min-width: 246px;
  list-style: none;
  margin: 0 4px;
  padding: 4px;
  border-radius: 3px;
  background: #ebecf0;
  max-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.board-list:last-child {
  margin-right: 0;
}

.board-list__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.board-list__header-text {
  font-weight: 600;
  color: #172b4d;
  font-size: 14px;
  padding: 0 8px;
}

.board-list__body {
  padding: 0 4px;
  overflow-y: auto;
}

.board-list__body > * {
  margin-bottom: 8px;
}

.board-list__body > *:last-child {
  margin-bottom: 0;
}

.board-list__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divider {
  width: 1px;
  height: 16px;
  background: hsla(0, 0%, 100%, 0.24);
  margin: 0 4px;
}

button {
  border: none;
  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 6px;
  border-radius: 3px;
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
}

.button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.button-text {
  color: #fff;
  font-size: 14px;
  padding: 0 6px;
  font-weight: bold;
}

.icon-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #6b778c;
  border-radius: 3px;
  height: 32px;
  padding: 8px;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
}

.icon-button > span {
  margin-left: 4px;
}

.icon-button:hover {
  background: rgba(9, 30, 66, 0.08);
}

.avatar {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.member-list {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 2px;
  margin-right: 6px;
}

.member-list > * {
  margin-right: -4px;
}

.member-list > *:first-child {
  margin-right: 0;
}

.card {
  background: #fff;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  border-radius: 3px;
  padding: 6px 8px;
}
