:root {
  --main-color: #838c91;
}

.main {
  background: var(--main-color);
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 4px;
  background: rgba(0, 0, 0, 0.15);
}

.header-left > *, .header-right > * {
  margin-right: 4px;
}

.header-left > *:last-child, .header-right > *:last-child {
  margin-right: 0;
}

.header-left {
  flex: 1 1;
  display: flex;
  flex-direction: row;
}

.header-center {
  flex: 100px 0 0;
  background-image: url(https://a.trellocdn.com/prgb/dist/images/header-logo-spirit.d947df93bc055849898e.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.header-right {
  flex: 1 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.board {

}

.board-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.board-header > * {
  margin-right: 2px;
}

.board-header > *:last-child {
  margin-right: 0;
}

.board-content {

}

.divider {
  width: 1px;
  height: 16px;
  background: hsla(0, 0%, 100%, 0.24);
  margin: 0 4px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 6px;
  border-radius: 3px;
  border: none;
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.button-text {
  color: #fff;
  font-size: 14px;
  padding: 0 6px;
  font-weight: bold;
}

.avatar {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.member-list {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 2px;
  margin-right: 6px;
}

.member-list > * {
  margin-right: -4px;
}

.member-list > *:first-child {
  margin-right: 0;
}
